.color-card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border: 5px solid #000;
}

.card-code {
  border: none;
  padding: 10px;
  font-weight: 700;
  width: 200px;
  outline: 2px solid transparent;
}
.card-code:focus {
  outline: 2px solid #000;
}
