.card .card-code__input {
  height: 50px;
  padding: 0;
}
.card .card-code__input::-webkit-color-swatch-wrapper {
  padding: 0;
}
.card .card-code__input::-webkit-color-swatch {
  border: none;
}

.form-card button {
  background: #efefee;
  border: none;
  font-weight: 700;
  padding: 8px 12px;
  cursor: pointer;
  border: 1px solid #efefee;
}
.form-card button:focus {
  border-color: #000;
}
