.App {
  display: flex;
  justify-content: center;
  flex-flow: column;
  gap: 50px;
  padding: 35px;
}

.color-card-list {
  display: flex;
  gap: 35px;
  flex-flow: row wrap;
  list-style-type: none;
}

.card {
  border: 5px solid #000;
}
.card,
.form-card form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  position: relative;
  flex-flow: column;
  gap: 10px;
}

.card .card-code {
  border: none;
  padding: 10px;
  font-weight: 700;
  width: 200px;
  outline: 2px solid #000;
}
